/*****************************************************************************
  portfoliov1
******************************************************************************/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*****************************************************************************
  Base Styles
******************************************************************************/
html {
  font-size: 14px;
  line-height: 1.25;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Lato', Arial, Helvatica, sans-serif;
  background-color: #CCC8BC; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  min-width: 250px; }

img {
  max-width: 100%; }

html, body {
  height: 100%; }

ul {
  list-style-type: none;
  display: block;
  padding: 0px;
  margin: 0px;
  text-indent: 0px; }

h1 {
  font-size: 1.4em;
  margin: 1em 0.5em 0.2em; }

h3 {
  font-size: 0.9em;
  margin: 0.2em, 0;
  padding: 0;
  font-weight: 400; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
/* HEADER */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px 0px;
  background-color: #E5E1D6; }
  header:after {
    content: "";
    display: table;
    clear: both; }

header .mobi-header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both; }
  header .mobi-header:after {
    content: "";
    display: table;
    clear: both; }

header .main-logo {
  display: block;
  float: left;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  max-width: 395px;
  transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  header .main-logo:last-child {
    margin-right: 0; }

.mobi_nav_btn {
  float: right;
  height: 40px;
  width: 40px;
  margin-top: 25px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.mobi_nav_btn_clicked {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

/*main navigation */
nav {
  margin-top: 5px; }

#main_navigation {
  background: #333;
  padding: 0.2em 0px; }

#main_navigation li {
  width: 90%;
  margin: 1em auto;
  padding: 0.2em 0;
  background: #333;
  color: #CCC;
  border-bottom: 1px solid #000; }

/* main client gallery */
.client_gallery {
  margin-top: 20px; }

.client_gallery p {
  margin: 0 0.5em 1em;
  padding: 0 0.5em; }

.slick-slide img {
  width: 100%; }

/* SLIDER CLEAN UP*/
.slider-nav, .slick-slider {
  margin: 5px auto; }

.slider-nav {
  width: 90%; }

.slider-nav .slick-slide {
  margin: 0 0.1em; }

/* Client List */
.client-thumbs {
  margin-top: 30px;
  clear: both;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .client-thumbs:after {
    content: "";
    display: table;
    clear: both; }

.aThumb {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  padding: 0.5em 0em;
  cursor: pointer; }
  .aThumb:last-child {
    margin-right: 0; }

.aThumb img {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.aThumb img:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.2); }

/* FOOTER */
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px; }

.page-wrap:after {
  content: "";
  display: block;
  height: 40px; }

footer {
  background: #333;
  position: relative;
  clear: both;
  height: 40px; }

footer p {
  line-height: 40px;
  text-align: center;
  color: #CCC; }

/*****************************************************************************
  Module Styles
******************************************************************************/
/*********************** RESPONSIVE SASS *************************/
@media screen and (max-width: 768px) {
  .aThumb:nth-child(2n) {
    margin-right: 0px; }

  #main_navigation li {
    display: none; }
 }

@media screen and (min-width: 768px) {
  /* HEADER */
  header .mobi-header {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    float: left;
    margin-left: 2em; }
    header .mobi-header:last-child {
      margin-right: 0; }

  header .main-logo {
    width: 100%; }

  /* NAV STYLES */
  .mobi_nav_btn {
    display: none; }

  #main_navigation {
    float: right;
    margin-right: 2em;
    position: relative;
    bottom: 0px;
    background-color: transparent; }

  #main_navigation li {
    float: left;
    display: inline-block;
    background-color: #00A99D;
    color: #E5E1D6;
    width: auto;
    padding: 8px 10px;
    margin: 0px 0.3em 0px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

  #main_navigation li:hover {
    background-color: #4ABAAF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    color: #FFF; }

  /*  SLICK IMAGES */
  .client_gallery .slick-list {
    padding: 5px; }

  .main-slick img {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3); }

  .client_gallery {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .client_gallery:after {
      content: "";
      display: table;
      clear: both; }

  .main-slick {
    width: auto;
    transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

  .slider-placement {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    float: right;
    overflow: hidden; }
    .slider-placement:last-child {
      margin-right: 0; }

  .client_desc {
    float: left;
    margin-left: 0;
    padding-left: 0; }

  /* client thumbs */
  .client-thumbs {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .client-thumbs:after {
      content: "";
      display: table;
      clear: both; }

  .aThumb {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    padding: 0.5em 0em; }
    .aThumb:last-child {
      margin-right: 0; }

  /* FOOTER */
  footer p {
    text-align: right;
    padding-right: 0.5em; }
 }

/* p fix */
@media screen and (min-width: 768px) and (max-width: 820px) {
  .client_desc {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .client_desc:last-child {
      margin-right: 0; }

  .client_desc p {
    font-size: 1em;
    padding-left: 0;
    margin-left: 0; }

  .slider-placement {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    float: right; }
    .slider-placement:last-child {
      margin-right: 0; }

  .aThumb:nth-child(4n) {
    margin-right: 0px; }
 }

@media screen and (min-width: 820px) and (max-width: 1400px) {
  .client_desc {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .client_desc:last-child {
      margin-right: 0; }

  .client_desc p {
    font-size: 1.2em;
    padding-left: 0;
    margin-left: 0; }

  .aThumb:nth-child(4n) {
    margin-right: 0px; }
 }

@media screen and (min-width: 1400px) {
  .main-logo {
    margin-bottom: 10px; }

  #main_navigation li {
    font-size: 1.2em; }

  .client_gallery {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
    .client_gallery:after {
      content: "";
      display: table;
      clear: both; }

  .main-slick {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    float: left;
    margin-left: 40px; }
    .main-slick:last-child {
      margin-right: 0; }

  .client_desc {
    float: left;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-left: 30px;
    margin-top: 15px; }
    .client_desc:last-child {
      margin-right: 0; }

  .client_desc p {
    font-size: 1.8em;
    padding-left: 0;
    margin-left: 0; }

  .slider-placement {
    float: left;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-left: 30px;
    margin-top: 10px; }
    .slider-placement:last-child {
      margin-right: 0; }

  .client-thumbs {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto; }
    .client-thumbs:after {
      content: "";
      display: table;
      clear: both; }

  .aThumb {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%;
    padding: 0.5em 0em;
    cursor: pointer; }
    .aThumb:last-child {
      margin-right: 0; }

  .aThumb:nth-child(6n) {
    margin-right: 0px; }

  h3 {
    font-size: 1.2em; }
 }

/*******************************************************************************************/
/*** MORE ANIMATION! MORE MORE MORE!! ****************************************************************/
/*******************************************************************************************/
.unloading {
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transform-origin: center top;
  transform-origin: center top; }

.unloading2 {
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transform-origin: center center;
  transform-origin: center center; }
