/*****************************************************************************
  portfoliov1
******************************************************************************/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*****************************************************************************
  Base Styles
******************************************************************************/
html {
  font-size: 14px;
  line-height: 1.25;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Lato', Arial, Helvatica, sans-serif;
  background-color: #CCC8BC; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  min-width: 250px; }

img {
  max-width: 100%; }

ul {
  list-style-type: none;
  display: block;
  padding: 0px;
  margin: 0px;
  text-indent: 0px; }

h1 {
  font-size: 1.4em;
  margin: 1em 0.5em 0.2em; }

h3 {
  font-size: 0.9em;
  margin: 0.2em, 0;
  padding: 0;
  font-weight: 400; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
/* HEADER */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px 0px;
  background-color: #E5E1D6; }
  header:after {
    content: "";
    display: table;
    clear: both; }

header .mobi-header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both; }
  header .mobi-header:after {
    content: "";
    display: table;
    clear: both; }

header .main-logo {
  display: block;
  float: left;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  max-width: 395px; }
  header .main-logo:last-child {
    margin-right: 0; }

.mobi_nav_btn {
  float: right;
  height: 40px;
  width: 40px;
  background-color: #333;
  margin-top: 10px;
  margin-right: 10px; }

/*main navigation */
nav {
  margin-top: 5px; }

#main_navigation {
  background: #333;
  padding: 0.2em 0px; }

#main_navigation li {
  width: 90%;
  margin: 1em auto;
  padding: 0.2em 0;
  background: #333;
  color: #CCC;
  border-bottom: 1px solid #000; }

/* main client gallery */
.client_gallery p {
  margin: 0 0.5em 1em;
  padding: 0 0.5em; }

/* SLIDER CLEAN UP*/
.slider-nav, .slick-slider {
  margin: 5px auto; }

.slider-nav {
  width: 90%; }

.slider-nav .slick-slide {
  margin: 0 0.1em; }

/* Client List */
.client-thumbs {
  margin-top: 30px;
  width: 100%;
  clear: both;
  padding: 0 0.8em;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .client-thumbs:last-child {
    margin-right: 0; }

.aThumb {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  padding: 0.5em 0em; }
  .aThumb:last-child {
    margin-right: 0; }

.aThumb:nth-child(2n) {
  margin-right: 0px; }

/* FOOTER */
footer {
  background: #333;
  clear: both;
  height: 40px; }

footer p {
  line-height: 40px;
  text-align: center;
  color: #CCC; }

/*****************************************************************************
  Module Styles
******************************************************************************/
@media screen and (min-width: 768px) {
  /* HEADER */
  header .mobi-header {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    float: left;
    margin-left: 2em; }
    header .mobi-header:last-child {
      margin-right: 0; }

  header .main-logo {
    width: 100%; }

  /* NAV STYLES */
  .mobi_nav_btn {
    display: none; }

  nav {
    float: right;
    margin-top: 15px;
    margin-right: 2em; }

  #main_navigation {
    background-color: transparent; }

  #main_navigation li {
    float: left;
    display: inline-block;
    background-color: transparent;
    color: #333;
    width: auto;
    margin: 0 0.6em;
    text-indent: 5px; }

  #main_navigation li:hover {
    background-color: #00A99D;
    color: #E5E1D6; }

  /*  SLICK IMAGES */
  .client_gallery {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto; }
    .client_gallery:after {
      content: "";
      display: table;
      clear: both; }

  .main-slick {
    width: auto; }

  .slick-slide img {
    width: 100%; }

  .slider-placement {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    float: right;
    overflow: hidden; }
    .slider-placement:last-child {
      margin-right: 0; }

  .client_desc {
    float: left;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-left: 0;
    padding-left: 0; }
    .client_desc:last-child {
      margin-right: 0; }

  .client_desc p {
    font-size: 1.4em;
    margin-left: 0;
    padding-left: 0; }

  /* FOOTER */
  footer p {
    text-align: right;
    padding-right: 0.5em; }
 }
